@model  IEnumerable<WebGroupProject.Models.ProductViewModel>
@{
    ViewBag.Title = "Compare";
    Layout = "~/Views/Shared/ProductSummary_Layout.cshtml";
}
    <link href="~/Content/RayStyle.css" rel="stylesheet" />
<h2>Compare</h2>

