html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(#55c2ed,#95d6f0,#cce2eb);
    background-repeat: no-repeat;
    background-attachment: fixed;
}