html {
    height: 100%;
}
.a{
    color:black !important;
}
body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(#4377a8,#55c2ed,#cce2eb);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.LoginSection{
    padding-top: 50px;
    padding-bottom:50px;
    text-align: center;
}
.navpadding {
    padding-left:200px !important;
    padding-right:200px !important;
    text-align: right;
    display:block !important;
}
.loginbtn{
    background: #55c2ed;
    height: 30px !important;
    font-size:small;
    text-align:center;
}
.loginbtndiv{
    padding-left:440px !important;
}
.wordsPadding{
    padding-top:5px;
    padding-bottom:5px;
}
.ImageSection {
    width:100%;
    height: 250px;
}
.inputSection {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.ImageRound {
    border-radius: 50%;
}
.dropdownColor{
    background-color: darkslateblue !important;
    color : black !important;
}
.btns {
    background-color: DodgerBlue !important; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

    /* Darker background on mouse-over */
    .btns:hover {
        background-color: RoyalBlue;
    }
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.bold{
   font-weight: bold !important;
}
.navigation {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#1565ab,#cce2eb);
    vertical-align: bottom;
    line-height: 120px;
    height: 120px;
}
.logo-img {
    position: absolute;
    padding-bottom: 20px;
}
.navblock{
    display: inline-flex !important;
}
.boxsize{
    height:35px !important;
    width:45px !important;
    font-size: x-small;
}
.boxsize2 {
    height: 30px !important;
    width: 45px !important;
    font-size: x-small;
}