* {
    font-size: 16px;
}

.header {
    text-align: center;
    background-image: linear-gradient(#4377a8,#55c2ed,#cce2eb);
    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: #cce2eb;
}

.topnav {
    overflow: hidden;
    background-color: #cce2eb;
}

.button {
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: : 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #569DA1;
}
body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white !important;
    background-image: none;
}

.left_table {
    float: left;
    width: 40%;
    margin-left: 60px;
}

.right_table {
    float: right;
    width: 40%;
    margin-right: 60px;
}

.SummaryTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .SummaryTable td, .SummaryTable th {
        border: 1px solid black;
        padding: 8px;
    }

    /*.SummaryTable tr:nth-child(even) {
    background-color: #f2f2f2;
}*/

    .SummaryTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #c0c0c0;
        //color: white;
    }


#table2 {
    float: left;
}

.SummaryTable td{
    background-color: white;
}

