@{
    ViewBag.Title = "Search";
}

<div class="LoginSection">
    <div>
        <img src="~/Content/Imgs/joole.png" alt="Joole Logo" width="400" height="200" />
    </div>
    <h3 class="wordsPadding">Building Product Selection Platform</h3>
    @using (Html.BeginForm("ProductResult", "Products", FormMethod.Post))
    {
        <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
                @if (TempData["CategoryListName"] != null)
                {
                    @Html.DropDownList("CategoaryID", TempData["CategoryListName"] as SelectList, "Category", new { @class = "form-control dropdownColor", @name = "CategoaryID" })
                }
            </div>
            @*<div class="form-group">
                <input id="SubCategoaryID" type="text" name="SubCategoaryID" placeholder="Country" class="form-control bold">
            </div>
            <div id="match-list"></div>*@
            @Html.DropDownList("SubCategoaryID", new SelectList(" "), "Search...", new { @class = "form-control bold", @name = "SubCategoaryID" })
            <div class="input-group-append">
                <button type="submit" value="Submit" class="btns form-control"><i class="material-icons">search</i></button>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />
<script>
    $(document).ready(function () {
        $("#CategoaryID").change(function () {
            var categoryList = document.getElementById("CategoaryID");
            var selectedID = categoryList.options[categoryList.selectedIndex].value;
            console.log(selectedID);

            $.get("/Search/GetSubCategory", { CategoryID: selectedID }, function (data) {
                $("#SubCategoaryID").empty();
                $.each(data, function (index, row) {
                    $("#SubCategoaryID").append("<option value="' row.SubcategoryID'" + "> " + row.SubcategoryName + "</option > ")
                    //$("#SubCategoaryID").text(row.SubCategoryName)
                    console.log(row.SubcategoryName);
                });
            });
        })
    });

</script>