@model WebGroupProject.Models.CategoryDropdownViewModel
@{
    ViewBag.Title = "Search";
}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <div class="LoginSection">
        <div>
            <img src="~/Content/Imgs/joole.png" alt="Joole Logo" width="400" height="200" />
        </div>
        <h3 class="wordsPadding">Building Product Selection Platform</h3>
        <div class="input-group mb-3 justify-content-center">
            
            <div class="input-group-prepend">
                @if (ViewBag.CategoryListName != null)
                {
                    @Html.DropDownListFor(model => model.CategoryID, ViewBag.CategoryListName as SelectList, "Category", new { @class = "form-control dropdownColor" })
                }
            </div>
            @Html.DropDownListFor(model => model.SubCategoryID, new SelectList(" "), "Search...", new { @class = "form-control bold" })
            <div class="input-group-append">
                <button class="btns form-control-sm" formmethod="post" value="submit"><i class="material-icons">search</i></button>
            </div>
        </div>
    </div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $("#CategoryID").change(function () {
            $.get("/Search/GetSubCategory", { CategoryID: $("#CategoryID").val() }, function (data) {
                $("#SubCategoryID").empty();
                $.each(data, function (index, row) {
                    $("#SubCategoryID").append("<option value='" + row.SubCategoryID + "'>" + row.SubCategoryName + "</option>")
                });
            });
        })
    });
</script>
