@{
    ViewBag.Title = "Index";
}
@ViewBag.Name
@if (ViewBag.CustomerList != null)
{

    foreach (var item in ViewBag.CustomerList)
    {
        <p>@item</p>
    }
}
<div class="navbar navpadding">
    <a href="#" data-toggle="modal" data-target="#signup_modal" class="font-weight-bold a">Sign Up </a>
</div>
<div class="LoginSection">
    <form class="text-center" action="Login" method="post">
        <div>
            <img src="~/Content/Imgs/joole.png" alt="Joole Logo" width="400" height="200" />
        </div>
        <h3 class="wordsPadding">Building Product Selection Platform</h3>
        <div class="input-group justify-content-center">
            <input type="text" class="form-control" id="Email" name="Email" placeholder="EmailAddress" required />
            <div class="input-group-prepend">
                    <img src="https://img.icons8.com/ios-glyphs/30/000000/human-head.png" alt="Head" >
                </div>
        </div>
        <br />
        <div class="input-group justify-content-center">
            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required/>
            <div class="input-group-append">
                    <img src="https://img.icons8.com/android/24/000000/lock.png" alt="Lock Icon">
                </div>
        </div>
        <br />
        <div class="input-group justify-content-center loginbtndiv">
            <input type="submit" class="btn-sm loginbtn btn-primary" value="Log in" id="Login" name="Login" />
        </div>
    </form>
</div>
<div class="modal fade" id="signup_modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="signup_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signup_modal_label">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="SignUp" method="post">
                <div class="modal-body">
                    <div class="ImageSection">
                        <p>Image Preview</p>
                        <img src="~/Content/Imgs/download.png" class="ImageRound" alt="Your Image" width="100" height="100" />
                        <p>Your Profile Picture</p>
                        <br />
                        <input type="file" id="Upload" name="Upload" />
                    </div>
                    <div class="inputSection">
                        <div class="input-group">
                            <input type="text" id="SignUpUserName" name="SignUpUserName" class="form-control" placeholder="User Name" required/>
                        </div>
                        <br />
                        <div class="input-group">
                            <input type="text" id="SignUpEmail" name="SignUpEmail" class="form-control" placeholder="Email Address" required />
                        </div>
                        <br />
                        <div class="input-group">
                            <input type="password" id="SignUpPassword" name="SignUpPassword" class="form-control" placeholder="Password" required/>
                        </div>
                        <br />
                        <div class="input-group">
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" onmouseout="comparePassword()" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mx-auto">
                    <div class="form-excerpts">
                        <ul class="list-unstyled float-right">
                            <li>
                                <input type="submit" id="Go" name="Go" value="SignUp" class="btn-sm btn-primary" formaction="SignUp" formmethod="post" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function comparePassword() {
        var password = document.getElementById("SignUpPassword");
        var Cpassword = document.getElementById("ConfirmPassword");
        if (password != Cpassword) {
            alert("Your Password not match")
        }
    }
</script>